               
               <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="../assets/engineer.png" alt="engineer icon">
                            <h3>{{ name }}</h3>
                            <h4>{{ role }}</h4>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>ID: {{ id }}</p>
                            <p>Email: <a href="mailto:{{ email }}" target="_blank">{{ email }}</a></p>
                            <p>GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></p>
                        </div>
                    </div>
                </div>