                
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="../assets/intern.png" alt="intern icon">
                            <h3>{{ name }}</h3>
                            <h4>{{ role }}</h4>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>ID: {{ id }}</p>
                            <p>Email: <a href="mailto:{{ email }}" target="_blank">{{ email }}</a></p>
                            <p>School: {{ school }}</p>
                        </div>
                    </div>
                </div>